<nav id="navbar">
    <ul class="nav justify-content-end">
        <li><a class="nav-link" href="#" id="intentions-div" onclick="expand('intentions-div')">
            <span class="customize-nav-title">Customize</span>
            #parse("public/templates/intentions.vm")
        </a></li>
        <li class="nav-item"> <a class="nav-link" href="/feed">The Hub</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                ${user.getUserName()}
            </a>
            <div class="dropdown-menu">
                <!--<a class="dropdown-item disabled" href="#">Profile</a>
                <div class="dropdown-divider"></div>-->
                <a class="dropdown-item" href="/activity">My Posts</a>
                <a class="dropdown-item" href="/favorites">Favorites</a>
                <!--<a class="dropdown-item disabled" href="#">Friends</a>-->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/login">SignOut</a>
            </div>
        </li>
    </ul>
</nav>